.hotel-card-container {
  margin: 20px;
  transition: transform 0.3s;
}

.card {
  background: linear-gradient(to bottom, rgb(255, 255, 255), black); 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 2px solid ; 
}

.card:hover {
  transform: scale(1.05); 
  
  border: 3px solid white;   
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.card img {
  transition: opacity 0.3s; 
}

.card:hover img {
  opacity: 0.9; 
}

.card-content {
  background: rgba(0, 0, 0, 0.8); 
  color: white; 
  padding: 15px;
}
